<div class="text-content container mv">
    <div class="row">
        <div class="col-md-6">
            <h1 class="about-title">About us</h1>
            <i class="fa fa-cutlery mb-sm fa-2x d-block"></i>
            <p class="desc-text">
                Restaurant is a place for simplicity. Good food, good beer, and good service.
                Simple is
                the name of the game, and we’re good at finding it in all the right places, even in your dining
                experience. We’re a small group from Denver, Colorado who make simple food possible. Come join us
                and
                see what simplicity tastes like.
            </p>
        </div>
        <div class="col-md-6">
            <div class="row img-section">
                <div animateOnScroll animationName="animated fadeInRight"
                  class="col-md-6 hide-on-init">
                    <img class="img-fluid img-thumbnail" src="assets/img/food_icon01.jpg" >
                </div>     
                <div animateOnScroll animationName="animated fadeInLeft delay-1s"
                 class="col-md-6 hide-on-init">
                    <img class="img-fluid img-thumbnail" src="assets/img/food_icon02.jpg" >
                </div>     
                <div animateOnScroll animationName="animated fadeInRight delay-1s"
                 class="col-md-6 hide-on-init">
                    <img class="img-fluid img-thumbnail" src="assets/img/food_icon03.jpg" >
                </div>     
                <div animateOnScroll animationName="animated fadeInLeft delay-1s"
                 class="col-md-6 hide-on-init">
                    <img class="img-fluid img-thumbnail" src="assets/img/food_icon04.jpg" >
                </div>                
           </div>
        </div>
    </div>
</div>