<div class="starter_container bg">
    <div class="follow_container">
        <h2 class="top-title text-center"> Restaurant</h2>
        <h2 class="white second-title text-center">" Best in the city " </h2>
        <hr class="full">
    </div>
</div>

<section class="description-content">
<!-- ============ About Us ============= -->
    <home-about></home-about>
<!-- ============ Pricing ============= -->
    <home-pricing></home-pricing>
<!--============blog start ============ -->
<home-blog></home-blog>
</section>