<section class="footer-wrapper">
  <div class="container">
    <div class="row">
      <div class="main_widget">
        <div class="row">
          <div class="col-sm-4 col-xs-12">
            <div class="single_widget">
              <h4 class="footer_title">CONTACT</h4>
              <div class="separator"></div>
              <ul>
                <li>
                  <a href="#">
                    <i class="fa fa-envelope"></i> karim@karim.com</a>
                </li>

                <li>
                  <a href="#"><i class="fa fa-phone">
                    </i> 0123 456 789 0112</a>
                </li>

                <li>
                  <a href="#"><i class="fa fa-map-marker"></i> karim saber 29, mansoura 60435</a>
                </li>

                <li>
                  <a href="#"><i class="fa fa-fax"></i> (0012) 333 356 445</a>
                </li>
              </ul>
            </div>
          </div>

          <div class="col-sm-4 col-xs-12">
            <div class="single_widget">
              <h4 class="footer_title">LATEST NEWS</h4>
              <div class="separator"></div>
              <div class="footer_gellary">
                <img src="assets/img/fg1.jpg" alt="" />
                <img src="assets/img/fg2.jpg" alt="" />
                <img src="assets/img/fg3.jpg" alt="" />
                <img src="assets/img/fg4.jpg" alt="" />
                <img src="assets/img/fg5.jpg" alt="" />
                <img src="assets/img/fg6.jpg" alt="" />
                <img src="assets/img/fg7.jpg" alt="" />
                <img src="assets/img/fg8.jpg" alt="" />
              </div>
            </div>
          </div>

          <div class="col-sm-4 col-xs-12">
            <div class="single_widget">
              <div class="footer_logo">
                <img src="assets/img/footerlogo.png" alt="" />
              </div>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut in egestas lectus.
                Etiam tempor odio tellus, at bibendum neque faucibus quis. Sed vel facilisis elit. </p>
              <p>Nullam fringilla pharetra diam non accumsan. Morbi eget aliquam mauris.
                Etiam vehicula efficitur mi.</p>

              <a class="weblink" href="#"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<footer id="footer" class="footer">
  <div class="container">
    <div class="main_footer">
      <div class="row">

        <div class="col-sm-6 col-xs-12">
          <div class="copyright_text">
            <p>Made with <i class="fa fa-heart"></i> by <a href="#">Karim Saber</a>2020. All Rights Reserved</p>
          </div>
        </div>

        <div class="col-sm-6 col-xs-12">
          <div class="footer_socail">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-google-plus"></i></a>
            <a href="#"><i class="fa fa-rss"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>