<section class="blog">
    <div class="container">
        <div class="block">
            <h1 class="heading">Latest <span>From</span> the
                <span>Blog</span></h1>
            <ul class="blog-items row no-gutters">
                <li animateOnScroll animationName="animated fadeInLeft"
                animatehide-on-init OnScroll animationName="animated fadeInLeft" class="col-md-4 col-lg-3 col-sm-6 hide-on-init">
                    <div class="blog-img blog-img-right">
                        <img class="img-fluid" src="assets/img/blog/blog-img-1.jpg" alt="blog-img">
                    </div>
                </li>
                <li animateOnScroll animationName="animated fadeInRight delay-1s"
                class="hide-on-init col-md-4 col-lg-3 col-sm-6">    
                    <div class="content-right">
                        <h3>Homestyle Chicken Pot Pie</h3>
                        <p>Prepared in true New England fash-ion. Tender all-white meat chicken simmered...</p>
                    </div>
                </li>

                <li animateOnScroll animationName="animated fadeInLeft"
                class="hide-on-init col-md-4 col-lg-3 col-sm-6">
                    <div class="blog-img blog-img-right">
                        <img class="img-fluid" src="assets/img/blog/blog-img-2.jpg" alt="blog-img">
                    </div>
                </li>
                <li animateOnScroll animationName="animated fadeInRight delay-1s"
                class="hide-on-init col-md-4 col-lg-3 col-sm-6">    
                    <div class="content-right">
                        <h3>Homestyle Chicken Pot Pie</h3>
                        <p>Prepared in true New England fash-ion. Tender all-white meat chicken simmered...</p>
                    </div>
                </li>

                <li animateOnScroll animationName="animated fadeInLeft"
                class="hide-on-init col-md-4 col-lg-3 col-sm-6">    
                    <div class="content-right">
                        <h3>Homestyle Chicken Pot Pie</h3>
                        <p>Prepared in true New England fash-ion. Tender all-white meat chicken simmered...</p>
                    </div>
                </li>
                <li animateOnScroll animationName="animated fadeInRight delay-1s"
                class="hide-on-init col-md-4 col-lg-3 col-sm-6">
                    <div class="blog-img blog-img-left">
                        <img class="img-fluid" src="assets/img/blog/blog-img-3.jpg" alt="blog-img">
                    </div>
                </li>
                <li animateOnScroll animationName="animated fadeInLeft"
                class="hide-on-init col-md-4 col-lg-3 col-sm-6">    
                    <div class="content-right">
                        <h3>Homestyle Chicken Pot Pie</h3>
                        <p>Prepared in true New England fash-ion. Tender all-white meat chicken simmered...</p>
                    </div>
                </li>
                <li animateOnScroll animationName="animated fadeInRight delay-1s"
                class="hide-on-init col-md-4 col-lg-3 col-sm-6">
                    <div class="blog-img blog-img-left">
                        <img class="img-fluid" src="assets/img/blog/blog-img-4.jpg" alt="blog-img">
                    </div>
                </li>

                <li animateOnScroll animationName="animated fadeInLeft"
                class="hide-on-init col-md-4 col-lg-3 col-sm-6">
                    <div class="blog-img blog-img-right">
                        <img class="img-fluid" src="assets/img/blog/blog-img-5.jpg" alt="blog-img">
                    </div>
                </li>
                <li animateOnScroll animationName="animated fadeInRight delay-1s"
                class="hide-on-init col-md-4 col-lg-3 col-sm-6">    
                    <div class="content-right">
                        <h3>Homestyle Chicken Pot Pie</h3>
                        <p>Prepared in true New England fash-ion. Tender all-white meat chicken simmered...</p>
                    </div>
                </li>

                <li animateOnScroll animationName="animated fadeInLeft"
                class="hide-on-init col-md-4 col-lg-3 col-sm-6">
                    <div class="blog-img blog-img-right">
                        <img class="img-fluid" src="assets/img/blog/blog-img-6.jpg" alt="blog-img">
                    </div>
                </li>
                <li animateOnScroll animationName="animated fadeInRight delay-1s"
                class="hide-on-init col-md-4 col-lg-3 col-sm-6">
                    <div class="content-right">
                        <h3>Homestyle Chicken Pot Pie</h3>
                        <p>Prepared in true New England fash-ion. Tender all-white meat chicken simmered...</p>
                    </div>
                </li>

              <button 
              animateOnScroll animationName="animated fadeInUp"
              class="hide-on-init col-md-4 offset-md-8 col-lg-3 offset-lg-9 btn btn-default btn-more-info" href="#" role="button">More Info</button>
            </ul>
        </div>
    </div>
</section>