<article class="mv">
    <div class="pricing background-content">
        <h2><span>Affordable</span> pricing</h2>
    </div>
    <div class="text-content container">
        <div class="container">
            <ul id="filter-list" class="filter-list">
                <li class="filter active" data-filter="all">All</li>
                <li class="filter" data-filter="breakfast">Breakfast</li>
                <li class="filter" data-filter="desert">Desert</li>
                <li class="filter" data-filter="dinner">Lunch</li>
                <li class="filter" data-filter="dinner">Salad</li>
                <li class="filter" data-filter="dinner">Soups</li>
            </ul><!-- end #filter-list -->
           
        <div class="container">
            <div id="portfolio" class="portfolio row">
              <div class="col-md-1"></div>

              <div class="col-md-10">
               <ul class="row">
                <li animateOnScroll animationName="animated fadeInUp" class=" hide-on-init col-md-4 col-lg-3 col-sm-6 item breakfast">
                    <img class="img-fluid" src="assets/img/food_icon01.jpg" alt="Food">
                    <h2 class="white">$20</h2>
                </li>

                <li animateOnScroll animationName="animated fadeInUp" class=" hide-on-init col-md-4 col-lg-3 col-sm-6 item dinner special"><img class="img-fluid"
                        src="assets/img/food_icon02.jpg" alt="Food">
                    <h2 class="white">$20</h2>
                </li>
                <li animateOnScroll animationName="animated fadeInUp" class=" hide-on-init col-md-4 col-lg-3 col-sm-6 item dinner breakfast"><img class="img-fluid"
                        src="assets/img/food_icon03.jpg" alt="Food">
                    <h2 class="white">$18</h2>
                </li>
                <li animateOnScroll animationName="animated fadeInUp" class=" hide-on-init col-md-4 col-lg-3 col-sm-6 item special"><img class="img-fluid" src="assets/img/food_icon04.jpg"
                        alt="Food">
                    <h2 class="white">$15</h2>
                </li>
                <li animateOnScroll animationName="animated fadeInUp" class=" hide-on-init col-md-4 col-lg-3 col-sm-6 item dinner"><img class="img-fluid" src="assets/img/food_icon05.jpg"
                        alt="Food">
                    <h2 class="white">$20</h2>
                </li>
                <li animateOnScroll animationName="animated fadeInUp" class=" hide-on-init col-md-4 col-lg-3 col-sm-6 item special"><img class="img-fluid" src="assets/img/food_icon06.jpg"
                        alt="Food">
                    <h2 class="white">$22</h2>
                </li>
                <li animateOnScroll animationName="animated fadeInUp" class=" hide-on-init col-md-4 col-lg-3 col-sm-6 item desert"><img class="img-fluid" src="assets/img/food_icon07.jpg"
                        alt="Food">
                    <h2 class="white">$32</h2>
                </li>
                <li animateOnScroll animationName="animated fadeInUp" class=" hide-on-init col-md-4 col-lg-3 col-sm-6 item desert breakfast"><img class="img-fluid"
                        src="assets/img/food_icon08.jpg" alt="Food">
                    <h2 class="white">$38</h2>
                </li>
               </ul>
              </div>
                <div class="col-md-1"></div>
            </div><!-- @end #portfolio -->
        </div><!-- @end #w -->
        </div>
    </div>
</article>